/**
 * High contrast style sheet
 *
 * This style sheet only operate as intended if all other style sheets are
 * disabled.
 */

* {
  color:yellow !important;
  border-color: yellow !important;
  background:black !important;
  width:auto !important;
  height: auto !important;
  float:none !important;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
  padding: 0 0 0 50px;
  margin: 0;
}

a:link {
  color: #ffff00;
}

a:visited {
  color: #ffff99;
}

a:hover,
a:focus,
a:active {
  color: #000000;
  background-color: #ffff00;
}

a img {
  border: 2px solid #ffff00;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

#page {
  font-size: 1.5em !important;
}

.contextual-links-wrapper,
.navbar-toggle {
  display:none !important;
}

#toolbar {
  font-size: 1.5em !important;
}

input {
  color: black !important;
  background-color: yellow !important;
}

header {
  height: auto !important;
  clear: both !important;
}

.fluid-width-video-wrapper {
  padding: 0 !important;
}

img {
  background-color: #ffffff !important;
  margin: 0.5em !important;
}
/*
     FILE ARCHIVED ON 19:05:37 May 04, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:58:38 May 11, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.019
  LoadShardBlock: 130.73 (4)
  CDXLines.iter: 72.684 (4)
  xauthn.chkprivs: 0.036
  load_resource: 153.338
  exclusion.robots: 131.865
  PetaboxLoader3.datanode: 130.835 (6)
  exclusion.robots.policy: 131.847
  PetaboxLoader3.resolve: 88.031 (2)
  captures_list: 859.996
  RedisCDXSource: 7.585
  xauthn.identify: 131.518
*/