/**
 * High contrast style sheet
 *
 * This style sheet only operate as intended if all other style sheets are
 * disabled.
 */

* {
  color:yellow !important;
  border-color: yellow !important;
  background:black !important;
  width:auto !important;
  height: auto !important;
  float:none !important;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
  padding: 0 0 0 50px;
  margin: 0;
}

a:link {
  color: #ffff00;
}

a:visited {
  color: #ffff99;
}

a:hover,
a:focus,
a:active {
  color: #000000;
  background-color: #ffff00;
}

a img {
  border: 2px solid #ffff00;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

#page {
  font-size: 1.5em !important;
}

.contextual-links-wrapper,
.navbar-toggle {
  display:none !important;
}

#toolbar {
  font-size: 1.5em !important;
}

input {
  color: black !important;
  background-color: yellow !important;
}

header {
  height: auto !important;
  clear: both !important;
}

.fluid-width-video-wrapper {
  padding: 0 !important;
}

img {
  background-color: #ffffff !important;
  margin: 0.5em !important;
}
/*
     FILE ARCHIVED ON 01:14:14 May 07, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:55:46 May 11, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  RedisCDXSource: 34.225
  PetaboxLoader3.resolve: 54.21 (2)
  PetaboxLoader3.datanode: 109.111 (6)
  esindex: 0.016
  captures_list: 1186.247
  exclusion.robots: 279.049
  load_resource: 97.851
  CDXLines.iter: 64.818 (4)
  exclusion.robots.policy: 279.036
  LoadShardBlock: 84.62 (4)
  xauthn.chkprivs: 0.05
  xauthn.identify: 278.697
*/